.wrapper {

}

.header {
  padding-left: 30px;
  padding-bottom: 3px;
  color: #82e9fc;
  font-size: 16px;
  line-height: 34px;
  background-image: url('../../../assets/sub-title-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}
