.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  height: 100%;
  display: flex;
  align-content: stretch;
  box-sizing: border-box;
}

.left {
  width: 520px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  width: 520px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}

.map {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
}

.cameraNumberWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 140px;
  background-color: #081c32;
  color: #5bcfe2;
  font-size: 12px;
  line-height: 12px;
  h1 {
    padding-top: 8px;
    padding-bottom: 6px;
    margin: 0;
    color: #02fffc;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background-color: #09395a;
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      border-radius: 50%;
      background-color: #02fffc;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
  }
  li {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.cameraStatistics {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.cameraTotalCount,
.cameraCoverAddress {
  display: flex;
  align-items: center;
  width: 204px;
  height: 44px;
  margin-top: 20px;
  padding-left: 2px;
  border-radius: 22px 8px 8px 22px;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cameraTotalCount {
  background-color: #2c6bc4;
  .icon {
    background-image: url('../../assets/home/camera-count.png');
  }
}

.cameraCoverAddress {
  background-color: #29cc65;
  .icon {
    background-image: url('../../assets/home/camera-cover-address.png');
  }
}

.cameraNumber {
  color: #fff;
}

.centerBottom {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
