.App {
  position: relative;
  height: 1080px;
  min-width: 1920px;
  padding-top: 86px;
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
