.wrapper {
  height: 55px;
  display: flex;
  align-items: center;
}

.icon {
  width: 55px;
  height: 100%;
  margin-right: 14px;
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.contentTitle {
  color: #53c7cf;
  font-size: 12px;
  line-height: 20px;
}

.contentCount {
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
}
